{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
    Template Application
  </h3>
  <div class="section">
    Description of the app here...
  </div>
</section>